<div class="footer">
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>	
		by <%= link_to "Gary Yang", "http://www.linkedin.com/pub/gary-chih-yen-yang/42/76b/278/" %>
	</small>
</div>